FEISHU_MODE=master
FEISHU_BOTS=[{"name":"小虾虾","appId":"cli_a9474d2ef5781bce","appSecret":"9B0ATvRNCn9wguH3HrjkXbYlLOTm6MKy","chatIds":["oc_248b4d3d66e287eabb96f9a76cf54daa"]}]
FEISHU_ROUTER_PORT=9090
